.body {

}

.filterbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-buttons {
    font-size: 16px;
    cursor: pointer;
    width: 160px;
    height: 20px;
    border: solid 2.5px;
    border-radius: 20px;
    border-color: #6cfecb;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
    text-align: center;
    margin: 10px;
    padding-bottom: 5px;
    
    

}

/* .filter-buttons:hover {
    opacity: 1;
    transform: scale(1.1);
    transition: all 1s;
} */
